*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    padding: 5px!important;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color:#fff;
    color: #212529;
    height: 40px;
    width:60%
    
}
.background{
    background-image: linear-gradient(rgb(224, 224, 224),rgb(158, 158, 158));
    height: auto;
}
.first-section{
    width: 45%;
    height: 100vh;
    
}
.submit-form{
    box-shadow: 10px 10px 40px black ;
    padding: 40px;
}
.second-section{
    width: 55%;
    height: auto;
}
#info-form{
    box-shadow: 10px 10px 40px black ;
    padding: 30px;
    width: 90%;
    height: 100vh;
    background-image: url(./backgroung-img.jpg),linear-gradient(rgb(18, 17, 17),gray);
    background-size: cover;
}
.user-info{
    width: 100%;
    height: auto;
    padding: 10px;
}
.action{
    width:30%;
    margin-left: 30px;
    margin-top: 25px;
    height: 100px;
    padding: 10px;
}
@media (max-width:768px) {
    .display{
        display: block;
    }
    .first-section{
        width: 100%;
    }
    .second-section{
        width: 100%;
        position: relative;
        top: -250px;
        display: flex;
        justify-content: center;
    }
}

